* {margin:0;padding:0;}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div, img, ul {
	vertical-align:top;
}

ul {list-style: none;}

input[type=text],
input[type=password] {
	border:0px;
}

input:focus {
    outline-width: 0;
}

.clearfix:after,.clearfix:before {
	content: "\0020";
	display: table;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}