.wrapper {
 	width:calc((400 * 100% - 75000px) / 570);
	width:60%;
	margin:0px auto;
}

.north {
	position:relative;
	z-index:0;
	min-height:100%;
	height:auto !important;
	height:100%;
	padding-bottom:120px; /*Footer Height*/
}

.south {
	position:relative;
	z-index:1;
	margin-top:-120px; /*Footer Height*/
	height:120px; /*Footer Height*/
}

html, body {
	height:100%;
	float:left;
    min-width:100%;
}

.stage {
	position:absolute;
	z-index:-1;
	top:0px; bottom:0px; left:0px; right:0px;
}

.footer, .footer > div {
	height:100%;
}