@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,400,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

html {
	color:#222;
	line-height:1.25;
	font-size:20px;
	font-weight:400;
	letter-spacing:.0;
}

html,
input {
	font-family: Proxima Nova, sans-serif;
}

input {
  font-size:15px;
}

h1,h2,h3,h4,h5,h6,.h {
	font-family: Lora, Proxima Nova, sans-serif;
	font-weight:400;
}

p, div.p {}
p {}
p:first-of-type {
	margin-top:0;
}
p:last-of-type {
	margin-bottom:0;
}

.logo.serif {font-family: Lora, serif;}
.serif {font-family: Merriweather, serif;}
.hl {color:#0095da;}
.ahl, a.ahl {color:#0a82d1;}
.ahl2, a.ahl2 {color:#15bcef;}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color:inherit;
}

@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 300;
	src: url("../../fonts/pn-l.otf") format('opentype');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/pn-r.otf") format('opentype');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 600;
	src: url("../../fonts/pn-sb.otf") format('opentype');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 700;
	src: url("../../fonts/pn-b.otf") format('opentype');
}