doctype html
html
  head
  body
    form(action="/login",method="post")
      | Login
      br
      input(type="text",name="username",placeholder="username")
      br
      input(type="password",name="password",placeholder="password")
      br
      input(type="submit")