doctype html
html
  head
    title Kefkaesque greets you...!
    include style.jade
  body
    div.filled
      include header.jade
    div.mockup
      div.top
        div.spacer
        div.stuff.wrapper
          div.name.serif Chase Evans
          div.items
            div.item
              div.spacer
              div.va
                | FOLLOWING
                br
                span.serif 42
            div.item
              div.spacer
              div.va
                | FOLLOWERS
                br
                span.serif 33
            div.item
              div.spacer
              div.va
                | ARTICLES READ
                br
                span.serif 178
          div.actions
            div.item
              | FOLLOW
            div.item
              | WIKIRACE
      div.wrapper
        h2 Recommended Articles
        div
          div.box(style="background:url(http://cdn.images.express.co.uk/img/dynamic/136/590x/thelouvre-483048.jpg)")
            div.text Louvre
          div.box(style="background:url(http://www.divorcereality.com/wp-content/uploads/2013/05/mongoose.jpg)")
            div.text Mongoose
          div.box(style="background:url(http://www.lovethesepics.com/wp-content/uploads/2014/05/Len%C3%A7ois-Maranhenses-the-Paradise-of-the-dunes.jpg)")
            div.text Lençóis Maranhenses
          div.box(style="background:url(https://handheldcamera12.files.wordpress.com/2013/02/school-of-athens-detail-from-right-hand-side-showing-diogenes-on-the-steps-and-euclid-1511.jpg)")
            div.text The School of Athens

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br

