doctype html
html
  head
  body
    form(action="/signup",method="post")
      | Sign Up
      br
      input(type="text",name="username",placeholder="username")
      br
      input(type="password",name="password",placeholder="password")
      br
      input(type="text",name="email",placeholder="email")
      br
      input(type="submit")