link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

link(rel="stylesheet", type="css", href="/assets/css/base/common.css")
link(rel="stylesheet", type="css", href="/assets/css/base/layout.css")
link(rel="stylesheet", type="css", href="/assets/css/base/typography.css")

link(rel="stylesheet", type="css", href="/assets/css/landing.css")
link(rel="stylesheet", type="css", href="/assets/css/article.css")
