.article {
  padding:0 0 4.2em 0;
  line-height:1.65;
  font-size:.8em;
}

.article:before {
  content:"";
  display:block;
  width:100%;
  height:50vh;
}

.article .hero {
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  min-height:50%;
  max-height:50%;
  height:100%;
  max-width:100%;
  z-index:-1;
  background:#111;
}

.article .hero:after {
  content:"";
  z-index:1;
  display:block;
  position:absolute;
  top:0; left:0;
  width:100%; height:100%;
  background:radial-gradient(rgba(0,0,0,0),#000);
}

.article .hero img {
  display:block;
  z-index:0;
  position: relative;
  top:50%;
  transform: translateY(-50%);
  max-width:100%;

##-webkit-filter: grayscale(.3) sepia(0.2);
filter: grayscale(10%) sepia(10%);
}

.article h1 {
  margin-top:-2em;
  margin-bottom:.62em;
  color:#fff;
  line-height:2em;
  font-size:3.8em;
  font-family:abril fatface, serif;
}

.article h2 {
  font-size:2.5em;
}

.article h3 {
  font-size:1.65em;
}

.article h2,
.article h3 {
  margin-bottom:.24em;
}

.article p {
  margin-bottom:1.3em;
}

.article a {color:#2a80b9; text-decoration:none;}
.article a:visited {color:#2a80b9;}

.article li {
  list-style-type:none;
}

.article img,
.thumb,
.infobox,
.hatnote,
.reference,
#References,
.reflist,
.mw-editsection,
.metadata,
.portal,
.navbox {
  display:none;
}
