.article {
  padding:2.6em 0;
  line-height:1.45;
}

.article h2 {
  margin:1.6em 0 .5em;
}

.article p {
  margin-bottom:1.6em;
}

.article a {color:#2a80b9; text-decoration:none;}
.article a:visited {color:#2a80b9;}

.article li {
  list-style-type:none;
}

.article img,
.infobox,
.hatnote,
.reference,
#References,
.reflist,
.mw-editsection,
.metadata,
.portal,
.navbox {
  display:none;
}