.article {
  padding:4.2em 0;
  line-height:1.65;
  font-size:.8em;
}

.article h1 {
  font-size:3.2em;
}

.article h2 {
  font-size:2.5em;
}

.article h3 {
  font-size:1.65em;
}

.article h1,
.article h2,
.article h3 {
  margin-bottom:.24em;
}

.article p {
  margin-bottom:1.3em;
}

.article a {color:#2a80b9; text-decoration:none;}
.article a:visited {color:#2a80b9;}

.article li {
  list-style-type:none;
}

/*.article img,*/
.thumb,
.infobox,
.hatnote,
.reference,
#References,
.reflist,
.mw-editsection,
.metadata,
.portal,
.navbox {
  display:none;
}