body {
  height:100%;
}

.app {
  height:100%;
  min-height:100%;
}

.splash {
  width:100%;
  height:100%;
  padding:2em;
  background:url("./img/splash.jpg"), #333;
  background-size:cover;
  text-align:center;
}

.splash > div {
  display:inline-block;
  vertical-align:middle;
  position:relative;
  top:-9%;
}

.splash .spacer {
  height:100%;
}

.splash .logo {
  color:#fff;
  font-size:4em;
  font-weight:500;
}

.splash form {
  margin-top:1em;
}

.splash input[type=text] {
  margin-right:.38em;
  width:240px;
  padding:.5em 1em;
  border:0;
  color:#333;
}

.splash button {
  background:transparent;
  border:0;
  color:#fff;
  font-size:1.3em;
  cursor:pointer;
}

.splash input,
.splash button {
  display:inline-block;
  vertical-align:middle;
}
