/*.playlistitems .head {
  font-family: "Impact";
  font-size: 50px;
}

.playlistitems {
  padding-top: 3em;
}

.playlistitems .box {
  align-items: center;
  justify-content: space-around;
  font-size: 200%;
  height: 60px;
  width: 120px;
  border: solid 1px #e7e7e7;
  background-size: 60px 120px;
  background-repeat: no-repeat;
  color: white;
  text-shadow:  4px 3px blue;
  font-family: "Lucida Sans Unicode";
}

.playlistitems .circle
{
width:150px;
height:75px;
border-radius:50%;
font-size:18px;
color:#fff;
line-height:75px;
text-align:center;
background:#000
}*/